/* .left-sub-section{
    position: fixed;
    top: 53%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .left-sidenav{
    position: fixed;
    top: 70%;
    right: 6%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
   */